body {
  background-color: rgb(230, 228, 228);
}

header {
  background-color: white;
}

img {
  width: 95%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.logo {
  text-align: center;
}

.nav-item a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
  margin-bottom: 0.8em;
}

.item2 {
  padding-bottom: 1em;
}
/* headeris baigiasi */

main {
  background-color: white;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

th {
  padding-bottom: 0.5em;
}

td {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
